In [2]:
require 'daru'

true

In [3]:
require 'numo/narray'

true

In [4]:
dates = Daru::DateTimeIndex.date_range(start: '2013-1-1', periods: 6)

#<DateTimeIndex:70271743466460 offset=D periods=6 data=[2013-01-01T00:00:00+00:00...2013-01-06T00:00:00+00:00]>

In [5]:
df = Daru::DataFrame.new(Numo::DFloat.new(4,6).rand.to_a, order: [:A, :B, :C, :D], index: dates)

#<Daru::DataFrame:70271742747980 @name = 593eb68a-e75a-4f29-9d54-a20f05d5183d @size = 6>
                    A          B          C          D
2013-01-01 0.06175446 0.53994797 0.90412104 0.41157601
2013-01-02 0.37306679 0.73781533 0.47864410 0.29253205
2013-01-03 0.79481522 0.16508858 0.34296938 0.86942065
2013-01-04 0.20104215 0.05088271 0.16454075 0.08549837
2013-01-05 0.11604089 0.10806450 0.74603041 0.68896542
2013-01-06 0.34403221 0.06870794 0.13899407 0.15997746

## Viewing Data

See the top rows of the frame

In [6]:
df.head

#<Daru::DataFrame:70271719137980 @name = 593eb68a-e75a-4f29-9d54-a20f05d5183d @size = 6>
                    A          B          C          D
2013-01-01 0.06175446 0.53994797 0.90412104 0.41157601
2013-01-02 0.37306679 0.73781533 0.47864410 0.29253205
2013-01-03 0.79481522 0.16508858 0.34296938 0.86942065
2013-01-04 0.20104215 0.05088271 0.16454075 0.08549837
2013-01-05 0.11604089 0.10806450 0.74603041 0.68896542
2013-01-06 0.34403221 0.06870794 0.13899407 0.15997746

See the bottom rows of the frame

In [7]:
df.tail 3

#<Daru::DataFrame:70271718941880 @name = 593eb68a-e75a-4f29-9d54-a20f05d5183d @size = 3>
                    A          B          C          D
2013-01-04 0.20104215 0.05088271 0.16454075 0.08549837
2013-01-05 0.11604089 0.10806450 0.74603041 0.68896542
2013-01-06 0.34403221 0.06870794 0.13899407 0.15997746

Display the index

In [8]:
df.index

#<DateTimeIndex:70271743466460 offset=D periods=6 data=[2013-01-01T00:00:00+00:00...2013-01-06T00:00:00+00:00]>

Display the columns

In [9]:
df.vectors

#<Daru::Index:0x007fd2d4874778 @relation_hash={:A=>0, :B=>1, :C=>2, :D=>3}, @keys=[:A, :B, :C, :D], @size=4>

Describe shows a quick statistic summary of your data

In [10]:
df.describe

#<Daru::DataFrame:70271743336260 @name = 4ba2b368-e721-47f9-b96c-5c716973895e @size = 5>
                    A          B          C          D
     count          6          6          6          6
      mean 0.31512529 0.27841784 0.46254996 0.41799499
       std 0.26500626 0.28881077 0.31093492 0.30663310
       min 0.06175446 0.05088271 0.13899407 0.08549837
       max 0.79481522 0.73781533 0.90412104 0.86942065

Transposing your data

In [11]:
df.transpose

#<Daru::DataFrame:70271713782360 @name = 593eb68a-e75a-4f29-9d54-a20f05d5183d @size = 4>
           2013-01-01 2013-01-02 2013-01-03 2013-01-04 2013-01-05 2013-01-06
         A 0.06175446 0.37306679 0.79481522 0.20104215 0.11604089 0.34403221
         B 0.53994797 0.73781533 0.16508858 0.05088271 0.10806450 0.06870794
         C 0.90412104 0.47864410 0.34296938 0.16454075 0.74603041 0.13899407
         D 0.41157601 0.29253205 0.86942065 0.08549837 0.68896542 0.15997746

Sorting by values

In [13]:
df.sort([:B])

#<Daru::DataFrame:70271742619660 @name = 593eb68a-e75a-4f29-9d54-a20f05d5183d @size = 6>
                    A          B          C          D
2013-01-04 0.20104215 0.05088271 0.16454075 0.08549837
2013-01-06 0.34403221 0.06870794 0.13899407 0.15997746
2013-01-05 0.11604089 0.10806450 0.74603041 0.68896542
2013-01-03 0.79481522 0.16508858 0.34296938 0.86942065
2013-01-01 0.06175446 0.53994797 0.90412104 0.41157601
2013-01-02 0.37306679 0.73781533 0.47864410 0.29253205

## Selection

### Getting

Selecting a single column, which yields a Daru::Vector, equivalent to df.A

In [27]:
df[:A]

#<Daru::Vector:70271742747160 @name = nil @metadata = {} @size = 6 >
                                      nil
2013-01-01T00:00:00+ 0.061754467473337606
2013-01-02T00:00:00+   0.3730667918557394
2013-01-03T00:00:00+   0.7948152254767612
2013-01-04T00:00:00+  0.20104215334808748
2013-01-05T00:00:00+  0.11604089423912954
2013-01-06T00:00:00+  0.34403221153354824

In [28]:
df.A

#<Daru::Vector:70271742747160 @name = nil @metadata = {} @size = 6 >
                                      nil
2013-01-01T00:00:00+ 0.061754467473337606
2013-01-02T00:00:00+   0.3730667918557394
2013-01-03T00:00:00+   0.7948152254767612
2013-01-04T00:00:00+  0.20104215334808748
2013-01-05T00:00:00+  0.11604089423912954
2013-01-06T00:00:00+  0.34403221153354824

Selecting via [], which slices the rows.

In [29]:
df.row[0..2]

#<Daru::DataFrame:70271719516500 @name = 593eb68a-e75a-4f29-9d54-a20f05d5183d @size = 3>
                    A          B          C          D
2013-01-01 0.06175446 0.53994797 0.90412104 0.41157601
2013-01-02 0.37306679 0.73781533 0.47864410 0.29253205
2013-01-03 0.79481522 0.16508858 0.34296938 0.86942065

### Selection by Label

Select via the position of the passed integers

In [31]:
df.row[3]

#<Daru::Vector:70271743661780 @name = 3 @metadata = {} @size = 4 >
                                      3
                  A 0.20104215334808748
                  B 0.05088271170047556
                  C 0.16454075387233086
                  D 0.08549837640383548

By integer slices, acting similar to numpy/python

In [36]:
df.row[3..4][0..1]

#<Daru::DataFrame:70271718863300 @name = 593eb68a-e75a-4f29-9d54-a20f05d5183d @size = 2>
                    A          B
2013-01-04 0.20104215 0.05088271
2013-01-05 0.11604089 0.10806450

### Boolean Indexing

Using a single column’s values to select data.

In [51]:
df.where(df.A.gt(0.1))

#<Daru::DataFrame:70271744201740 @name = 0d437619-7fbe-419b-a2ae-1817a89747ca @size = 5>
                    A          B          C          D
2013-01-02 0.37306679 0.73781533 0.47864410 0.29253205
2013-01-03 0.79481522 0.16508858 0.34296938 0.86942065
2013-01-04 0.20104215 0.05088271 0.16454075 0.08549837
2013-01-05 0.11604089 0.10806450 0.74603041 0.68896542
2013-01-06 0.34403221 0.06870794 0.13899407 0.15997746