In [1]:
require 'daru'

true

## Idioms

In [2]:
df = Daru::DataFrame.new({
  'AAA' => [4,5,6,7],
  'BBB' => [10,20,30,40],
  'CCC' => [100,50,-30,-50]
  })

#<Daru::DataFrame:70160137620680 @name = 025e2f51-bb38-4d1a-9fd7-e50071eca7e2 @size = 4>
                  AAA        BBB        CCC
         0          4         10        100
         1          5         20         50
         2          6         30        -30
         3          7         40        -50

### if-then...

In [3]:
df.where(df['AAA'].gteq(5))

#<Daru::DataFrame:70160137537300 @name = 285780a5-1239-461b-ac9e-d4ac6ce7ec7a @size = 3>
                  AAA        BBB        CCC
         1          5         20         50
         2          6         30        -30
         3          7         40        -50

### splitting

In [4]:
df = Daru::DataFrame.new({
  'AAA' => [4,5,6,7],
  'BBB' => [10,20,30,40],
  'CCC' => [100,50,-30,-50]
  })

#<Daru::DataFrame:70198582983880 @name = c6403e8d-c3b1-4593-9a02-979374fcfda2 @size = 4>
                  AAA        BBB        CCC
         0          4         10        100
         1          5         20         50
         2          6         30        -30
         3          7         40        -50

In [5]:
#dflow = df[df.AAA <= 5]
dflow = df.where(df['AAA'].lteq(5))

#<Daru::DataFrame:70198582912800 @name = ff6e971b-20a3-438b-9a8e-1920fe7fe218 @size = 2>
                  AAA        BBB        CCC
         0          4         10        100
         1          5         20         50

In [6]:
dfhigh = df.where(df['AAA'].gt(5))

#<Daru::DataFrame:70198582796960 @name = cfa034b7-fa6d-4f9e-8056-261067d4179b @size = 2>
                  AAA        BBB        CCC
         2          6         30        -30
         3          7         40        -50

### Building Criteria

In [3]:
df = Daru::DataFrame.new({
  'AAA' => [4,5,6,7],
  'BBB' => [10,20,30,40],
  'CCC' => [100,50,-30,-50]
  })

#<Daru::DataFrame:70276282122140 @name = a20002ea-4758-4a93-9a1a-6fe6500d4493 @size = 4>
                  AAA        BBB        CCC
         0          4         10        100
         1          5         20         50
         2          6         30        -30
         3          7         40        -50

In [16]:
df.where(df['BBB'].lt(25) & df['CCC'].gteq(-40))['AAA']

#<Daru::Vector:70198560516280 @name = nil @metadata = {} @size = 2 >
    nil
  0   4
  1   5

In [7]:
df.where(df['BBB'].gt(25) | df['CCC'].gteq(-40))['AAA']

#<Daru::Vector:70276290943060 @name = nil @metadata = {} @size = 4 >
    nil
  0   4
  1   5
  2   6
  3   7

## Selection

### DataFrames

In [16]:
data = {'AAA' => [4,5,6,7], 'BBB' => [10,20,30,40], 'CCC' => [100,50,-30,-50]}

{"AAA"=>[4, 5, 6, 7], "BBB"=>[10, 20, 30, 40], "CCC"=>[100, 50, -30, -50]}

In [17]:
df = Daru::DataFrame.new(data, index: [:foo, :bar, :boo, :kar])

#<Daru::DataFrame:70160138474760 @name = ce784401-3dae-4d71-8f7c-b4657e3994a7 @size = 4>
                  AAA        BBB        CCC
       foo          4         10        100
       bar          5         20         50
       boo          6         30        -30
       kar          7         40        -50

There are 2 explicit slicing methods,

1 Label-oriented

In [18]:
df.row[:bar..:kar]

#<Daru::DataFrame:70160129620540 @name = ce784401-3dae-4d71-8f7c-b4657e3994a7 @size = 3>
                  AAA        BBB        CCC
       bar          5         20         50
       boo          6         30        -30
       kar          7         40        -50

2 Positional-oriented

In [20]:
df.row[1..3]

#<Daru::DataFrame:70160138211240 @name = ce784401-3dae-4d71-8f7c-b4657e3994a7 @size = 3>
                  AAA        BBB        CCC
       bar          5         20         50
       boo          6         30        -30
       kar          7         40        -50

## Grouping

In [28]:
df = Daru::DataFrame.new({'animal': 'cat dog cat fish dog cat cat'.split,
  'weight': [8, 10, 11, 1, 20, 12, 12],
  'size': 'SSMMMLL'.split(//),
  'adult': [false] * 5 + [true] * 2
  })

#<Daru::DataFrame:70160154193380 @name = 4207ecae-2357-4bc6-9d0e-cc18c96e7e7f @size = 7>
                adult     animal       size     weight
         0        nil        cat          S          8
         1        nil        dog          S         10
         2        nil        cat          M         11
         3        nil       fish          M          1
         4        nil        dog          M         20
         5       true        cat          L         12
         6       true        cat          L         12

In [32]:
gb = df.group_by(:animal)

#<Daru::Core::GroupBy:0x007f9edc22b7a8 @groups={["cat"]=>[0, 2, 5, 6], ["dog"]=>[1, 4], ["fish"]=>[3]}, @non_group_vectors=[:adult, :size, :weight], @context=
#<Daru::DataFrame:70160154193380 @name = 4207ecae-2357-4bc6-9d0e-cc18c96e7e7f @size = 7>
                adult     animal       size     weight
         0        nil        cat          S          8
         1        nil        dog          S         10
         2        nil        cat          M         11
         3        nil       fish          M          1
         4        nil        dog          M         20
         5       true        cat          L         12
         6       true        cat          L         12
>

In [38]:
gb.get_group(["cat"])

#<Daru::DataFrame:70160136952240 @name = e860b98a-12bf-4179-adcd-27d1c38bfd94 @size = 4>
                adult     animal       size     weight
         0        nil        cat          S          8
         2        nil        cat          M         11
         5       true        cat          L         12
         6       true        cat          L         12